node_modules
**/node_modules
.git
.github
.next
**/.next
# dist is included so pre-compiled output is available for services that need it
**/.turbo
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/venv
screenshot.png
screenshot-admit.png
